body {
	font-family: 'Black Han Sans', sans-serif;
	background-color: #808080;
	color: #0fd0c1;
}

h1 {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 6em;
}

h2 {
  font-size: 5em;
  padding: 7%;
}

p {
  font-family: 'PT Serif', serif;
  font-size: 3em;
  line-height: 1.5em;
}

section {
  height: 100vh;
  background-size:  cover;
  background-attachment: fixed;
}

.text-section {
  text-align: center;
  padding: 10%;
  margin: 0 auto;
  max-width: 80%;
}

.image-1{
  background-image: url(../images/Logo_of_Brawlhalla.JPG);
}
.image-2 {
  background-image: url(../images/All_Brawlhalla.jpg);
}
.image-3 {
  background-image: url(../images/Jiro.png);
}

.image-4 {
  background-image: url(../images/500_IQ.gif);
}

footer {
  position:  fixed;
  bottom:  20px;
  left:  20px;
}

a:hover{
  color: #808080;
}

@media (max-width: 1800px) {
  section {
    background-attachment: scroll;
    height: 60vw;
  }
}
